<header>
        
    <!-- If you have any question ask chat-gpt :) -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid container">
                <a class="navbar-brand" href="#"><img
                        src="\assets\5a75686e-0624-4ed6-91eb-048b565dc466-removebg-preview.png" alt=""/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Cars</a>
                        <a class="nav-link" href="#">About</a>
                        <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-regular fa-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Log In</a></li>
                              <li><a class="dropdown-item" href="#">Sign Up</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
</header>