<footer class="bg-black-alpha-90">
  <div class="grid">
    <div class="border-bottom-1 border-secondary grid col-12 p-7">
      <div class="col-12 text-light my-3 md:col-4 lg:col-4">
        <h3>Who are we ?</h3>
        <p>
          Car Avenue is your trusted partner for finding the perfect new or
          pre-owned vehicle. With years of experience, we offer a diverse
          selection of cars at competitive prices, paired with exceptional
          customer service. Our mission is to make your car-buying experience
          smooth and enjoyable from start to finish.
        </p>
      </div>
      <div class="col-12 md:col-3 lg:col-3 text-light my-3">
        <h3 class="">Site map</h3>
        <ul class="">
          <li><a href="" class="text-light fs-5">Home</a></li>
          <li><a href="" class="text-light fs-5">Products</a></li>
          <li><a href="" class="text-light fs-5">About Us</a></li>
          <li><a href="" class="text-light fs-5">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-12 md:col-5 lg:col-5 my-2">
        <h3 class="text-light">Newsletter</h3>
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input
              type="email"
              class="rounded-4 px-3 py-2 my-2"
              style="width: 300px"
              placeholder="Enter your email"
              formControlName="email"
            />
            <button
              class="fw-bold btn btn-warning border-0 rounded-4 px-4 py-2 ms-2 my-2"
              type="submit"
            >
              Subscribe
            </button>
          </div>
        </form>
        <div class="row text-light my-2">
          <div class="col-1 ms-3">
            <i class="fa-brands fa-facebook fa-xl"></i>
          </div>
          <div class="col-1"><i class="fa-brands fa-twitter fa-xl"></i></div>
          <div class="col-1"><i class="fa-brands fa-instagram fa-xl"></i></div>
          <div class="col-1"><i class="fa-brands fa-youtube fa-xl"></i></div>
          <div class="col-1"><i class="fa-brands fa-pinterest fa-xl"></i></div>
        </div>
        <p class="text-light fs-5 ms-3">Mobile : +2011119923009</p>
        <p class="text-light fs-5 ms-3">Email : info&#64;CarAvenu.com</p>
      </div>
    </div>
  </div>
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center">
      <img src="/img/logo.png" alt="CarAvenu" style="width: 70px" />
    </div>
    <div class="flex align-items-center justify-content-center">
      <p class="text-light">© ​2024 CarAvenu, Inc. All rights reserved&nbsp;</p>
    </div>
  </div>
</footer>
