/* Social icons container */
.social-icons {
  display: flex;
  gap: 15px; /* Space between icons */
}

/* Social icon styling */
.social-icon {
  display: flex; /* Flexbox ensures the icon is centered inside the circle */
  justify-content: center;
  align-items: center;
  width: 40px; /* Increased the width and height for the circle size */
  height: 40px;
  border-radius: 50%; /* Makes the icon circular */
  text-align: center;
  color: white;
  font-size: 15px; /* Font size is relative to the container size */
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove any text underline */
  line-height: 0; /* Fixes the white line under the icon */
}

/* Individual platform colors */
.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}

.instagram {
  background-color: #e4405f;
}

.youtube {
  background-color: #ff0000;
}

.pinterest {
  background-color: #bd081c;
}

/* Hover effect */
.social-icon:hover {
  opacity: 0.8;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  .social-icon {
    width: 40px;
    height: 40px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .social-icon {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

.border-line {
  border-top: 2px solid rgba(211, 211, 211, 0.5);
}

:host {
  width: 100%;
  background-color: #000000;

  flex-shrink: 0; /* Ensures the footer doesn't shrink */
}
