<nav class="navbar" [ngClass]="{ scrolled: isScrolled }">
  <div class="navbar-container">
    <!-- Logo -->
    <a href="#" class="logo">
      <img
        [src]="isScrolled ? 'img/logo-black.png' : 'img/logo.png'"
        alt="Car Avenue Logo"
        class="logo-img"
      />
    </a>
    <!-- Hamburger Button (for mobile) -->
    <button class="hamburger" (click)="toggleMenu()">
      <i class="pi pi-bars"></i>
    </button>

    <!-- Menu -->
    <ul class="menu" [ngClass]="{ 'menu-open': isMenuOpen }">
      <li>
        <a
          class="menu-items"
          href="#"
          (mouseover)="hoverItem($event)"
          (mouseout)="unhoverItem($event)"
          >Home</a
        >
      </li>
      <li>
        <a
          class="menu-items"
          href="#"
          (mouseover)="hoverItem($event)"
          (mouseout)="unhoverItem($event)"
          >Cars for Sale</a
        >
      </li>
      <li>
        <a
          class="menu-items"
          href="#"
          (mouseover)="hoverItem($event)"
          (mouseout)="unhoverItem($event)"
          >About</a
        >
      </li>
      <li>
        <a
          class="menu-items"
          href="#"
          (mouseover)="hoverItem($event)"
          (mouseout)="unhoverItem($event)"
          >Contact</a
        >
      </li>

      <!-- Cart Icon -->
      <li class="cart">
        <i class="pi pi-shopping-cart"></i>
        <span class="badge">{{ cartItemCount }}</span>
      </li>

      <!-- User Icon with Dropdown -->
      <li class="user" (click)="toggleUserMenu()">
        <i class="pi pi-user"></i>
        <div class="user-menu" *ngIf="isUserMenuOpen">
          <a class="submenu" href="#">Login</a>
          <a class="submenu" href="#">Sign Up</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
