<div class="bg-black p-6">
  <div class="product-grid">
    <div class="product-card" *ngFor="let car of cars">
      <div class="image-container">
        <img [src]="car.images" [alt]="car.model" />
      </div>

      <div class="product-info">
        <h3>{{ car.model }}</h3>
        <div class="price-year">
          <span class="price">{{ car.price | currency : "EGP" }}</span>
          <span class="year">Year: {{ car.year }}</span>
        </div>

        <button class="add-to-cart" (click)="addToCart(car)">
          <i class="cart-icon">
            <!-- Cart SVG -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <circle cx="9" cy="21" r="1" />
              <circle cx="20" cy="21" r="1" />
              <path
                d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
              />
            </svg>
          </i>
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
<div class="flex show-btn" *ngIf="hasMore || loading">
  <button class="show-more-btn" (click)="loadMore()" [disabled]="loading">
    {{ loading ? "Loading..." : "Show More" }}
  </button>
</div>
