<div class="grid-nogutter background">
    <div
      class="flex flex-column grid-nogutter mx-8 align-items-center justify-content-center"
    >
      <div class="w-12 m-5 border-round">
        <div
          class="pt-8 mt-8 font-bold align-items-enc justify-content-lg-end text-center text-white"
        >
          <h1>Car Avenue: Drive Your Dreams</h1>
          <h4 class="pt-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla,
            labore suscipit quo ad doloribus pariatur ex molestias excepturi
          </h4>
        </div>
      </div>
    </div>
    <i class="pi pi-angle-double-right text-center col-12"></i>
</div>


<div class="s3">
  
</div>


<div class="S2 pt-3 pr-4 grid-nogutter">
  <div class="justify-content-center align-items-center flex md:flex-row flex-column ">
    <div class=" blaacksection px-6 py-5 text-white ">
      <h2 class="pb-3 ">Lorem, ipsum.</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, harum?
        Magni, beatae eveniet quo sed perferendis dignissimos sit iusto dolore
        totam sint est quia voluptates quae cumque eos a ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sed quas
        quibusdam voluptatibus voluptates fugiat. Libero, possimus. Culpa ut,
        harum minus excepturi saepe rem. Dolore enim corrupti voluptatem
        consectetur aut.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
        delectus, quas aut itaque et sint beatae distinctio dolor minus
        accusantium eligendi nesciunt culpa illum saepe possimus dolore ipsam
        ratione quo.
      </p>
    </div>
    <div class=" yelllowsection p-3">
      <div class="px-7">
        <h2 class="pb-3">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </h2>
        <ul class="list-decimal">
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            dolorum, ad velit laboriosam asperiores quasi, voluptatem cumque in
            quod ducimus alias eligendi deserunt ipsam amet atque quisquam nemo
            quos eum?
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
            adipisci in minus facilis consequatur doloremque soluta iure
            accusantium impedit quae beatae doloribus, harum quo quibusdam
            aliquid nisi dolor eligendi consectetur?
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            cum dolor exercitationem rem quis eos ipsum accusamus neque soluta,
            quisquam culpa dolores architecto ullam, assumenda, veritatis porro
            minus totam expedita?
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>