<div class="grid">
  <div class="background w-screen">
    <app-navbar></app-navbar>
    <div class="flex flex-column grid-nogutter mx-8 align-items-center justify-content-center">
        <div class=" w-12 m-5 border-round">
            <div class="mt-8 pt-8 px-5 font-bold align-items-center justify-content-center text-center text-white">
                <h1>Car Avenue: Drive Your Dreams</h1>
                <h4 class="pt-3">
                    Lorem ipsum dolor, 
                    sit amet consectetur adipisicing elit. Nulla, 
                    labore suscipit quo ad doloribus pariatur ex molestias excepturi
                </h4>   
            </div>
        </div>      
        <i class="pi pi-angle-double-right text-center px-3"></i>

  </div>
  
</div>
<div class="grid">
    <P
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit mollitia
      quibusdam molestias cum eligendi veritatis praesentium, quas dicta
      perferendis voluptatem eaque magnam? Deleniti sapiente quia exercitationem
      quis maxime dolor consectetur? Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Hic molestias exercitationem enim praesentium! Unde,
      accusamus ab ducimus excepturi voluptates at, minus fugiat ratione porro
      earum modi eius vitae qui doloribus?</P
    >
</div>